{% extends 'base.html' %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block elemento %} Confirmar Eliminación {% endblock %}

{% block content %}


            <h5>¿Estás seguro de que deseas eliminar la siguiente vulnerabilidad?</h5>
            <p>Nombre: {{ vulnerabilidad.nombre }}</p>
            <p>Valor: {{ vulnerabilidad.valor }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'vulnerabilidad_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>


{% endblock %}