{% extends 'base.html' %}

{% block title %}Lista de Inspecciones{% endblock %}

{% block estilos %}    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Inspecciones</h1>
    <table class="table" id="miTabla">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Ruta Completa</th>
                <th>Atributo</th>
                <th>Fecha</th>
                <th>VT</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inspeccion in inspecciones %}
            <tr>
                <td>{{ inspeccion.id }}</td>
                <td>{{ inspeccion.atributo }}</td>
                <td>{{ inspeccion.atributo.nombre }}</td>
                <td>{{ inspeccion.fecha|date:"d-m-Y H:i" }}</td>
                <td>
                    <div style="width: 30px; height: 30px; background-color: {{ inspeccion.vulnerabilidad.color }}; border-radius: 50%; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.1);" title="{{ inspeccion.vulnerabilidad.nombre }}">
                        {{ inspeccion.vulnerabilidad.valor }}
                    </div>
                </td>
                <td>
                    <a href="{% url 'inspeccion_update' inspeccion_id=inspeccion.id %}" class="btn btn-warning btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M13.646 0.354a2 2 0 0 1 0 2.828l-10 10a2 2 0 0 1-2.828 0 2 2 0 0 1 0-2.828l10-10a2 2 0 0 1 2.828 0zM12.854 1.146l2 2L4 14H2v-2l9.854-9.854z"/>
                        </svg>
                    </a>
                    <a href="{% url 'inspeccion_delete' inspeccion_id=inspeccion.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'inspeccion_pdf' inspeccion_id=inspeccion.id %}" class="btn btn-primary btn-sm">
                        <i class="bi bi-file-pdf"></i> Ver PDF
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'inspeccion_create' %}" class="btn btn-success mt-3">Crear Nueva Inspeccion</a>
</div>
{% endblock %}

{% block scriptscustom %}    
<script>
    $(document).ready(function() {
        $('#miTabla').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}