{% extends 'base.html' %}

{% block title %}Detalles de Inspección - {{ inspeccion.id }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title">Detalles de Inspección - {{ inspeccion.id }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Fuente:</strong> {{ inspeccion.fuentedevulnerabilidad }}</p>
                    <p><strong>Fecha:</strong> {{ inspeccion.fecha }}</p>
                    <p><strong>Inspector:</strong> {{ inspeccion.inspector }}</p>
                    <p><strong>Componente:</strong> {{ inspeccion.componente }}</p>
                    <p><strong>Probabilidad:</strong> {{ inspeccion.vulnerabilidad }}</p>
                    <p><strong>Temperatura:</strong> {{ inspeccion.temperatura }}</p>
                    <p><strong>Vibración:</strong> {{ inspeccion.vibracion }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Observación:</strong> {{ inspeccion.observacion }}</p>
                    <p><strong>Aviso:</strong> {{ inspeccion.aviso }}</p>
                    <p><strong>Modos de Falla:</strong></p>
                    <ul>
                        {% for modo in inspeccion.modosdefalla.all %}
                            <li>{{ modo.nombre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="mt-4">
                <h4 class="mb-3">Fotos de la Inspección:</h4>
                <div class="row">
                    {% for foto in inspeccion.fotos.all %}
                        <div class="col-md-4 mb-3">
                            <img src="{{ foto.imagen.url }}" class="img-fluid img-thumbnail" alt="Foto de Inspección">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-4">
                <h4 class="mb-3">Acciones:</h4>
                <p><strong>Realizado:</strong> {{ inspeccion.get_realizado_display }}</p>
                <p><strong>Notificación:</strong> {{ inspeccion.notificacion }}</p>
                <p><strong>Recomendación:</strong> {{ inspeccion.recomendacion }}</p>
                <p><strong>Fecha Planeada:</strong> {{ inspeccion.fechaplaneada }}</p>
                <p><strong>Comentarios:</strong> {{ inspeccion.comentarios }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
