{% extends 'base.html' %}

{% block title %}Editar Componente{% endblock %}

{% block elemento %} Actualizar componente {{ componente.nombre }} {% endblock %}

{% block content %}

<form method="post" action="{% url 'componente_update' componente_id=componente.id%}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <strong>{{ field|capfirst }}:</strong> {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>


{% endblock %}

{% block scriptscustom %}
<!-- Incluir Select2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- Incluir jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Incluir Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function(){
        $('.select2').select2();
    });
    </script>
{% endblock %}    