{% extends 'base.html' %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block elemento %} Confirmar Eliminación {% endblock %}

{% block content %}



            <h5 >¿Estás seguro de que deseas eliminar el siguiente equipo?</h5>
            <p >TAG: {{ equipo.tag }}</p>
            <p >Nombre: {{ equipo.nombre }}</p>
            <p >Descripción: {{ equipo.descripcion }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'elemento_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>



{% endblock %}