{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Dashboard</h1>

    <!-- Número total de inspecciones realizadas -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Total de inspecciones realizadas</h5>
            <table class="table" id="total-inspecciones">
                <thead>
                    <tr>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ total_inspecciones|floatformat:0 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Distribución de inspecciones por inspector -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Distribución de inspecciones por inspector</h5>
            <table class="table" id="inspecciones-por-inspector">
                <thead>
                    <tr>
                        <th>Inspector</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inspecciones_por_inspector %}
                    <tr>
                        <td>{{ item.inspector__nombre }}</td>
                        <td>{{ item.total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Distribución de inspecciones por elemento y atributo -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Distribución de inspecciones por elemento y atributo</h5>
            <table class="table" id="inspecciones-por-elemento-atributo">
                <thead>
                    <tr>
                        <th>Elemento - Atributo</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in inspecciones_por_elemento_atributo %}
                    <tr>
                        <td>{{ item.atributo__elemento__nombre }} - {{ item.atributo__nombre }}</td>
                        <td>{{ item.total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Temperatura y vibración promedio por atributo -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Temperatura y vibración promedio por atributo</h5>
            <table class="table" id="promedio-por-atributo">
                <thead>
                  <tr>
                    <th>Atributo</th>
                    <th>Promedio Temperatura</th>
                    <th>Promedio Vibración</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in promedio_temperatura_por_atributo %}
                    <tr>
                      <td>{{ item.atributo__nombre }}</td>
                      <td>{{ item.promedio_temperatura|floatformat:2 }}</td>
                      {% for vibracion in promedio_vibracion_por_atributo %}
                        {% if vibracion.atributo__nombre == item.atributo__nombre %}
                          <td>{{ vibracion.promedio_vibracion|floatformat:2 }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    <!-- Modos de falla más comunes -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Modos de falla más comunes</h5>
            <table class="table" id="modos-falla-comunes">
                <thead>
                    <tr>
                        <th>Modo de Falla</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for modo in modos_de_falla_comunes %}
                    <tr>
                        <td>{{ modo.nombre }}</td>
                        <td>{{ modo.total|floatformat:2 }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptscustom %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#total-inspecciones, #inspecciones-por-inspector, #inspecciones-por-elemento-atributo, #promedio-por-atributo, #modos-falla-comunes').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "paging": true, // desactivar paginación
            "searching": true, // desactivar búsqueda
            "ordering": true, // desactivar ordenamiento
            "info": false // desactivar información de tabla
        });
    });
</script>
{% endblock %}
