{% extends 'base.html' %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Confirmar Eliminación</h1>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">¿Estás seguro de que deseas eliminar el siguiente MDF?</h5>
            <p class="card-text">Nombre: {{ mododefalla.nombre }}</p>
            <p class="card-text">ID: {{ mododefalla.id }}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'mododefalla_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}