{% extends 'base.html' %}

{% block title %}Editar MDF{% endblock %}

{% block content %}
<div class="container"></div>
<h1 class="mt-5">Actualizar MDF {{ mododefalla.nombre }}</h1>
<form method="post" action="{% url 'mododefalla_update' mododefalla_id=mododefalla.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <strong>{{ field|capfirst }}:</strong> {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
</div>

{% endblock %}