<!-- inspector_item.html -->
<li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h5 class="mb-0">{{ fuentedevulnerabilidad.nombre }}</h5>
            <p class="mb-0">ID : {{ fuentedevulnerabilidad.id }}</p>
        </div>
        <div>
                       
            <a href="{% url 'fuentedevulnerabilidad_update' fuentedevulnerabilidad_id=fuentedevulnerabilidad.id %}" class="btn btn-warning btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M13.646 0.354a2 2 0 0 1 0 2.828l-10 10a2 2 0 0 1-2.828 0 2 2 0 0 1 0-2.828l10-10a2 2 0 0 1 2.828 0zM12.854 1.146l2 2L4 14H2v-2l9.854-9.854z"/>
                </svg>
            </a>
            <a href="{% url 'fuentedevulnerabilidad_delete' fuentedevulnerabilidad_id=fuentedevulnerabilidad.id %}" width="16" height="16" class="btn btn-danger">
                <i class="bi bi-trash" width="16" height="16"></i>
            </a>
        
        </div>
    </div>
</li>