{% extends 'base.html' %}

{% block title %}Lista de Fuentes de Vulnerabilidad{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Fuentes de Vulnerabilidad</h1>
    <ul class="list-group mt-3">
        {% for fuentedevulnerabilidad in fuentesdevulnerabilidad %}
                {% include 'fuentedevulnerabilidad/fuentedevulnerabilidad_item.html' with fuentedevulnerabilidad=fuentedevulnerabilidad %}
        {% endfor %}
    </ul>
    <a href="{% url 'fuentedevulnerabilidad_create' %}" class="btn btn-success mt-3">Crear Nueva Fuente</a>
</div>
</div>


{% endblock %}